* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #120078;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* allows for 3D space for each card when clicked
  works with 
  transform-style: preserve-3d;
  transition: transform 0.5s;
  */
  perspective: 1000px;
}

.memory-card {
  /* subtract margin value from width/height (calc) */
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* make cards smaller when clicked */
.memory-card:active {
  /*
  we set this on the memorty card so this effect has 
  a starting point of 1 and we make it 3% smaller
   transform: scale(1); 
   */
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #9d0191;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
